
:root {
    --colorOne: #aa4465;
    --colorTwo: #edf0da;
    --colorThree: #a89b8c;
    --colorFour: #f0dfad;
    --colorFive: #8f5c38;
}
body {
    margin: 0;
    padding: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 70%;
    height: 70%;
    background-color: var(--colorFour);
}

.modal-header {
    display: flex;
    flex-flow: row nowrap;
}

.close-btn {
    text-decoration: none;
    font-size: 30px;
    color: var(--colorFive);
}

.close-btn:hover, .close-btn:focus {
    cursor: pointer;
    color: black;

}

#modal-close-btn {
    margin-left: auto;
}

.btn {
    border-radius: 30px;
    background-color: var(--colorFour);
    border: none;
}

.flex {
    display: flex;  
    flex-flow: row nowrap;
}

.grid-column {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.grid-column-row {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}


.content {
    background-color: var(--colorOne);
    height: 100vh;
    
} 


.header {
    grid-column: 1 / 13;
    align-items: center;
    background-color: var(--colorTwo);
    overflow: hidden;
    
}


.footer {
    grid-column: 1 / 13;
    background-color: var(--colorThree);
    display: flex;
    flex-flow: row;
    align-items: center;
}

.table-btn {
    margin-left: auto;
}



.img-container {
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column: 1 / 13;
    grid-row: 2 / 12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--colorFour);
}

.image:nth-of-type(2n) {
    background-color: var(--colorFive);

}

.image {
    height: 100px;
    border-radius: 2px;
    border-color: black;
    border-style: dotted;
    background-color: var(--colorOne);
}

.block {
    display: block;
}


.metadata {
    grid-column: 1 / 13;
    background-color: var(--colorTwo);
}

.order-container {
    grid-column: 1 / 13;
    grid-row: 3 / 10;
    overflow-y: scroll;
}

.summary {
    background-color: var(--colorThree);
    grid-row: 10 / 13;
    grid-column: 1/ 13;
}

.table-number {
    grid-column: 1/ 13;
    background-color: var(--colorFour);
}

.login-board {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20%;
    width: 70%;
    background-color: var(--colorTwo);
}

.login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.login-content {
    max-width: 300px;
    width: 70%;
    margin-bottom: 5px;
}

.line-break {
    border: 1px solid var(--colorOne);
    background-color: var(--colorOne);
    width: 50%;    
    margin-bottom: 10px;
}

/* for mobile */
@media(min-width: 0px) {
    .menu {
        overflow: hidden;     
        background-color: var(--colorFive);
        grid-column: 1 / 13 ;
    
    }
    
    .order-history-panel {
        display: none;
        background-color: var(--colorOne);
        overflow: hidden;
    }

    #order-panel-btn {
        display: block;
        margin-left: auto;
    }
}

/* for desktop */
@media(min-width: 760px) { 
    .menu {
        overflow: hidden; 
    
        background-color: var(--colorThree);
        grid-column: 1 / 9 !important;
    
    }

    .order-history-panel {
        display: grid !important;
        background-color: var(--colorFour);
        grid-column: 9 / 13 !important;
        overflow: hidden;
    }

    
    #order-panel-btn {
        display: none;

    }
}



