body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;  
    flex-flow: row;
    justify-content: space-between;
}

.grid-column {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.grid-column-row {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}


.content {
    background-color: aqua;
    height: 100vh;
    
} 


.header {
    grid-column: 1 / 13;
    align-items: center;
    background-color: aquamarine;
}

.footer {
    grid-column: 1 / 13;
    background-color: coral;
}



.img-container {
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column: 1 / 13;
    grid-row: 2 / 12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: bisque;
}

.image:nth-of-type(2n) {
    background-color: brown;

}

.image {
    height: 100px;
    border-radius: 2px;
    border-color: black;
    border-style: dotted;
    background-color: crimson;
}



.metadata {
    grid-column: 1 / 13;
    background-color: aquamarine;
}

.order-container {
    grid-column: 1 / 13;
    grid-row: 3 / 10;
    overflow-y: scroll;
}

.summary {
    background-color: blueviolet;
    grid-row: 10 / 13;
    grid-column: 1/ 13;
}

.table-number {
    grid-column: 1/ 13;
    background-color: azure;
}

.order-history-panel {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

/* for mobile */
@media(min-width: 0px) {
    .menu {
        overflow: hidden;     
        background-color: blue;
        grid-column: 1 / 13 ;
    
    }
    
    .order-history-panel {
        display: none;
        background-color: beige;
        overflow: hidden;
    }

    #order-panel-btn {
        display: block;
    }
}

/* for desktop */
@media(min-width: 760px) { 
    .menu {
        overflow: hidden; 
    
        background-color: blue;
        grid-column: 1 / 9 !important;
    
    }

    .order-history-panel {
        display: grid !important;
        background-color: beige;
        grid-column: 9 / 13 !important;
        overflow: hidden;
    }

    
    #order-panel-btn {
        display: none;

    }
}



